.swiper-pagination-bullet{
  width: 3rem;
  height: 3rem;
  background: none;
}
.swiper-pagination-bullet:nth-child(1){
  background-image: url("../../assets/images/banner-hero/icons/game-1.png");
}
.swiper-pagination-bullet:nth-child(2){
  background-image: url("../../assets/images/banner-hero/icons/game-2.png");
}
.swiper-pagination-bullet:nth-child(3){
  background-image: url("../../assets/images/banner-hero/icons/game-3.png");
}
.swiper-pagination-bullet:nth-child(4){
  background-image: url("../../assets/images/banner-hero/icons/game-4.png");
}
.swiper-pagination-bullet:nth-child(5){
  background-image: url("../../assets/images/banner-hero/icons/game-5.png");
}