.swiper-pagination-bullet{
  width: 3rem;
  height: 3rem;
  background: none;
}
.swiper-pagination-bullet:nth-child(1){
  background-image: url("../../assets/images/banner-hero/icons/game-1.png");
}
.swiper-pagination-bullet:nth-child(2){
  background-image: url("../../assets/images/banner-hero/icons/game-2.png");
}
.swiper-pagination-bullet:nth-child(3){
  background-image: url("../../assets/images/banner-hero/icons/game-3.png");
}
.swiper-pagination-bullet:nth-child(4){
  background-image: url("../../assets/images/banner-hero/icons/game-4.png");
}
.swiper-pagination-bullet:nth-child(5){
  background-image: url("../../assets/images/banner-hero/icons/game-5.png");
}

@media screen and (min-width: 1024px) {
  .swiper-pagination-bullets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 96px;
    gap: 20px;
   
  
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 0;
}
}